<p><%= t :".title" %></p>

<p><%= t :".body", set: @set, title: @exhibit.title %></p>

<p>Successfully harvested <%= 'item'.pluralize(@successful_sidecar_ids.count) %></p>

<% if @missing_sidecar_ids.any? %>
  <p>The following document IDs had missing sidecar data:</p>
  <ul>
    <% @missing_sidecar_ids.each do |id| %>
      <li><%= id %></li>
    <% end %>
  </ul>
<% end %>
